@keyframes blink {
  from {color: transparent;}
  to {	color: black }
}

body {
	font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
	cursor: crosshair;
}

h1 {
	margin-top: 0;
}

a {
	color: black;
}