#chat {
	padding-top: 4rem;
	max-width: 600px;
	margin: 0 auto;
	padding-bottom: 9rem;
}

#chat div {
	margin: 1rem 0;
	margin-bottom: 2rem;
	padding: .8rem;
	position: relative;
	font-family: "Source Sans Pro", sans-serif;
	font-size: 1.2rem;
	font-weight: 400;
	background: #e5e5ea;
	color: #333;
	max-width: 75%;
	word-wrap: break-word;
	border-radius: 1.15rem;
	width: fit-content;
	word-wrap: break-word;
	background-color: rgb(246,243,249);
}

#chat div.system, #chat div.alert {
	text-align: center;
	margin: auto;
	color: rgb(52,65,42);
	padding: .5rem 1rem;
	background-color: rgb(252,242,196);
}

#chat div.alert {
	margin: 1rem auto;
	color: white;
	font-weight: bold;
	background-color: rgb(209,45,69);
}

#chat div.me {
	margin-left: auto;
	background-color: rgb(81,153,227);
	color: white;
}

#chat div.enemy::before {
	border: 12.5px solid transparent;
	border-top: 12.5px solid #e5e5ea;
	border-top: 12.5px solid rgb(246,243,249);
	border-bottom: 0;
	height: 0;
	width: 0;
	border-top-width: 25px;
	content: "";
	display: block;
	position: absolute;
	left: .5rem;
	bottom: -15px;
	transform-origin: center;
	transform: rotate(-90deg) skew(25deg) translateY(16.6666666667px);
}

#chat div.me::before {
	border: 12.5px solid transparent;
	border-top: 12.5px solid rgb(81,153,227);
	border-bottom: 0;
	height: 0;
	width: 0;
	border-top-width: 25px;
	content: "";
	display: block;
	position: absolute;
	right: .5rem;
	bottom: -15px;
	transform-origin: center;
	transform: rotate(90deg) skew(-25deg) translateY(16.6666666667px);
}