#control {
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgb(256,256,256,.9);
	position: fixed;
	padding: 3rem;
	z-index: 10;
	font-size: 1rem;
	color: black;
	text-align: center;
}

#play-again {
	visibility: hidden;
	cursor: pointer;
	font-weight: bold;
}

#chat-panel-button {
	cursor: pointer;
	visibility: hidden;
    animation-name: blink;
    animation-duration: 2s;
	animation-iteration-count: infinite;
	z-index: 15;
	font-weight: bold;
}