#defenses, #responses {
	font-size: 1.2rem;
	max-width: 600px;
	margin: 2rem auto 9rem auto;
	display: none;
	background-color: rgb(246,243,249);
	border: 1px solid rgb(220,218,223);
	box-shadow: inset 1px 1px 1px white, 1px 1px 1px #999;
}

#defenses span, #responses span {
	display: block;
	padding: 1rem;
	border-bottom: 1px solid rgb(220,218,223);
	border-top: 1px solid white;
}

#defenses span:nth-child(even), #responses span:nth-child(even) {
	background-color: rgb(256,253,256);
}

#defenses span:hover, #responses span:hover {
	color: red;
}
