#my-score, #enemy-score {
	margin: 0;
	color: rgb(149,148,152);
	padding: .5rem;
}

#enemy-score {
	padding-left: 1rem;
	border-left: 1px solid white;
	margin-right: 1rem;
}

#attacks-count {
	color: rgb(149,148,152);
	display: inline-block;
	float: right;
}

#total-attacks {
	color: black;
	font-weight: bold;
}

.score {
	left: 0;
	right: 0;
	top: 0;
	background-color: rgb(246,243,249);
	border-bottom: 1px solid rgb(220,218,223);
	position: fixed;
	padding: 1rem;
	z-index: 10;
	box-shadow: inset 1px 1px 1px white;
}

.logo {
	color: #333;
	font-weight: bold;
	padding: .5rem 1rem .5rem .5rem;
	border-right: 1px solid rgb(220,218,223);
}

.score-count {
	color: red;
}

@media screen and (max-width: 800px){
	.logo {
		display: none;
	}
	#enemy-score {
		border-left: none;
		padding-left: 0;
	}
	#attacks-count {
		display: none;
	}
}
