@keyframes spinner {
	0% {
		transform: scale(0);
	}
	100% {
		transform: scale(1);
	}
}

#spinner {
	position: relative;
	display: none;
}

#spinner div {
	display: inline-block;
	width: .8rem;
	height: .8rem;
	border-radius: 50%;
	background: black;
	transform: scale(0);
	margin: 0 .2rem;
}

#spinner div:nth-child(1) {
	animation: spinner 1s infinite ease-in-out;
}

#spinner div:nth-child(2) {
	animation: spinner 1s infinite  ease-in-out .10s;
}

#spinner div:nth-child(3) {
	animation: spinner 1s infinite  ease-in-out .20s;
}
