@import "base.css";
@import "chat.css";
@import "playerPanel.css";
@import "scoreComponent.css";
@import "controlComponent.css";
@import "spinner.css";

@keyframes appear {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

#intro {
	font-size: 1.2rem;
	max-width: 600px;
	margin: 2rem auto 2rem auto;
	padding: 2rem;
	background-color: rgb(246,243,249);
	border: 1px solid rgb(220,218,223);
	box-shadow: inset 1px 1px 1px white, 1px 1px 1px #999;
	box-sizing: border-box;
	display: none;
}

#intro button {
	color: black;
	font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
	font-size: 1rem;
	background-color: rgb(241,238,244);
	border: 1px solid rgb(229,229,229);
	box-shadow: inset 1px 1px 1px white, 1px 1px 1px #999;
	font-weight: normal;
	padding: .2rem;
	margin: 0;
}

#intro button:hover {
	color: black;
	cursor: pointer;
	box-shadow: inset 1px 1px 1px white, 1px 1px 1px black;
}

#intro input[type="text"] {
	background-color: white;
	border: 1px solid rgb(229,229,229);
	box-shadow: inset 1px 1px 1px white, 1px 1px 1px #999;
	font-size: 1rem;
	font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
	padding: .2rem;
	margin: 0;
	margin-bottom: .5rem;
}

#intro label {
	font-weight: bold;
	display: block;
	margin-bottom: .5rem;
}

#app {
	display: none;
}

#connecting {
	margin: 4rem auto;
	text-align: center;
	display: none;
}

#bot-play-container {
	display: none;
	text-align: center;
	animation: appear 1s 1 ease-in-out;
}

#bot-play-container button {
	font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
	font-size: 1rem;
	background-color: black;
	color: white;
	border: none;
	padding: .5rem 1rem;
}

#bot-play-container button:hover {
	cursor: pointer;
}
